page-home {

  .slideShow {
    max-height: 100%;
    max-width: 100%;
  }

  .footerHome > div {
      background-color: #bd283a !important;
    }

  .whiteLettering > div {
      color: white !important;
  }

  .whiteBackground {
    background-color: white !important;
  }
}


